---
title: "AH"
layout: default
permalink: "/authors/ah"
search: exclude
---
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <div class="row align-items-center mb-5">
            <div class="col-md-9">
                <h2 class="font-weight-bold">Agung Harjanto <span class="small btn btn-outline-success btn-sm btn-round"><a href="{{ site.authors.ah.twitter }}">Ikuti</a></span></h2>
                <p><a href="{{ site.authors.ah.site }}">{{ site.authors.ah.site }}</a></p>
                <p class="excerpt">{{ site.authors.ah.bio }}</p>
            </div>
            <div class="col-md-3 text-right">
                <img alt="{{ site.authors.ah.name }}" src="{{site.baseurl}}/{{ site.authors.ah.avatar }}" class="rounded-circle" height="100" width="100">
            </div>
        </div>
        <h4 class="font-weight-bold spanborder"><span>Artikel oleh {{page.title}}</span></h4>
            {% assign posts = site.posts | where:"author","ah" %}
            {% for post in posts %}
            {% include main-loop-card.html %}
            {% endfor %}
            <em>-- NIHIL --</em>
    </div>
</div>
</div>