# Site
name: 'Dunia Wiki'
description: 'Wiki tentang Dunia.'
logo: 'apple-touch-icon.png'
logotextimg: 'assets/images/logo-text.svg'
favicon: 'favicon.ico'
baseurl: 'https://dunia.wiki'
#cdnurl: 'https://cdn.jsdelivr.net/gh/duniawiki/assets@master'
graphcomment: 'Dunia'
formspree: 'movvpoyd'
email: 'mail@dunia.wiki'
mailchimp-list: 'https://wiki.us15.list-manage.com/subscribe/post?u=e067a35c5425dfd3bb6f8f5da&amp;id=55c478cf38'
include: ["_pages"]
permalink: /:year:month/:title

# Plugins
plugins: 
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-archives
  - jekyll-gzip
  
authors:
    sal:
      name:           Sal
      site:           https://www.wowthemes.net
      avatar:         assets/images/avatar1.jpg
      bio:            "Hi, I am Sal, the author of Mundana, the theme you're currently previewing. I hope you like it!"
      email:          wowthemesnet@gmail.com
      twitter:        https://twitter.com/wowthemesnet

    jane:
      name:           Jane
      site:           https://www.wowthemes.net
      avatar:         assets/images/avatar2.jpg
      bio:            "Blogger, fashionista, love to explore new ideas and write on my morning coffee!"
      email:          fakemail@gmail.com
      twitter:        https://twitter.com/wowthemesnet
 
    dewek:
      name:           Dewek
      site:           https://ko-fi.com/duniawiki
      avatar:         assets/images/avatar3.webp
      bio:            "Peminum kopi, pecinta kampung, pembenci kampungan! Ngopi yuk di ko-fi.com/duniawiki"
      email:          gakpunya@dunia.wiki.nospam
      twitter:        https://twitter.com/dunia_wiki
 
# Defaults
defaults:

  # all posts
  - scope:
      path: "_posts"
    values:
      layout: post
      author: sal
      avatar: assets/images/avatar1.jpg
      
  # all pages
  - scope:
      path: "_pages"
    values:
      layout: page
      
# Syntax
markdown: kramdown
highlighter: rouge

# Paginate
paginate: 10
paginate_path: "/page/:num"

# Archives
jekyll-archives:
  enabled: [ categories, tags ]
  layouts:
    category: archive
    tag: tag
  permalinks:
    category: '/:name'
    tag: '/tag/:name'

# Compression
gzip:
  extensions:
    - '.html'
    - '.css'
    - '.js'
    - '.txt'
    - '.xml'
    - '.svg'
    - '.json'

# Exclude metadata and development time dependencies (like Grunt plugins)
exclude: [README.markdown, package.json, grunt.js, Gruntfile.js, Gruntfile.coffee, node_modules]