# Site
name: 'Dunia Wiki'
description: 'Wiki tentang Dunia.'
logo: 'apple-touch-icon.png'
logotextimg: 'assets/images/logo-text.svg'
logoimg: 'assets/images/logo.svg'
favicon: 'favicon.ico'
url: 'https://dunia.wiki'
baseurl: ''
# cdnurl: 'https://cdn.jsdelivr.net/gh/duniawiki/assets@master'
graphcomment: 'Dunia'
formspree: 'movvpoyd'
email: 'mail@dunia.wiki'
mailchimp-list: 'https://wiki.us15.list-manage.com/subscribe/post?u=e067a35c5425dfd3bb6f8f5da&amp;id=55c478cf38'
include: ["_pages"]
permalink: /:year:month/:title
githubpages: 'https://github.com/duniawiki/website'

# Lazy Images ("enabled" or "disabled")
lazyimages: "enabled"

# Plugins
plugins: 
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-archives
  - jekyll-gzip
  
authors:
    dewek:
      name:           Dewek
      site:           https://dunia.wiki/sawer
      avatar:         assets/images/avatar3.webp
      bio:            "Penggagas dan penulis utama (saat ini satu-satunya). Peminum kopi, ngopi yuk di ko-fi.com/duniawiki"
      email:          gakpunya@dunia.wiki.nospam
      twitter:        https://twitter.com/dunia_wiki

    ah:
      name:           AH
      site:           https://www.jamparing.net
      avatar:         assets/images/avatar1.png
      bio:            "Asisten Teknis, membantu pengembangan, publikasi dan pemeliharaan website. Gak punya artikel."
      email:          gakpunya@dunia.wiki.nospam
      twitter:        https://twitter.com/jamparingnet
 
# Defaults
defaults:

  # all posts
  - scope:
      path: '_posts'
    values:
      layout: post
      author: dewek
      avatar: assets/images/avatar3.webp
      
  # all pages
  - scope:
      path: '_pages'
    values:
      layout: page

  - scope:
      path: ""
    values:
      image: /assets/images/ogimage.avif
      
# Syntax
markdown: kramdown
highlighter: rouge

# Paginate
paginate: 10
paginate_path: '/page/:num'

# Archives
jekyll-archives:
  enabled: [ categories, tags ]
  layouts:
    category: archive
    tag: tag
  permalinks:
    category: '/:name'
    tag: '/tag/:name'

# Feed
feed:
  excerpt_only: true

# Compression
gzip:
  extensions:
    - '.html'
    - '.css'
    - '.js'
    - '.txt'
    - '.xml'
    - '.svg'
    - '.json'

# Exclude metadata and development time dependencies (like Grunt plugins)
exclude: [README.markdown, package.json, grunt.js, Gruntfile.js, Gruntfile.coffee, node_modules]
