<!-- li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/">Depan</a>
          </li -->
          <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/tekno">Tekno</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/urban">Urban</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/lingkungan">Lingkungan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/energi-baru">Energi</a>
          </li>
          <!-- li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/peta">Peta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{site.baseurl}}/sejarah">Sejarah</a>
          </li -->
