<h5 class="mb-3"><span>Dunia</span><span style="color:#ccc">.Wiki</span></h5>

<p> </p>

<a href="/about" class="btn btn-primary d-block mb-2"><i class="fa fa-file"></i> Tentang</a>

<a href="/terms" class="btn btn-primary d-block mb-2" ><i class="fa fa-file"></i> Ketentuan Penggunaan</a> 

<a href="/privacy" class="btn btn-primary d-block mb-2" ><i class="fa fa-file"></i> Kebijakan Privasi</a> 

<a href="/authors" class="btn btn-primary d-block mb-2" ><i class="fa fa-user"></i> Kontributor</a> 

<a href="/contact" class="btn btn-primary d-block mb-2" ><i class="fa fa-envelope"></i> Hubungi Kami</a> 

<a target="_blank" class="btn btn-danger d-block mb-2" href="https://ko-fi.com/duniawiki"><i class="fa fa-coffee"></i> Ngopi yuk!</a> 
