<h5 class="mb-3"><span>Dunia</span><span style="color:#ccc">.Wiki</span></h5>

<p> </p>

<a href="/about" class="btn btn-disabled d-block mb-2"><i class="fa fa-file"></i> Tentang</a>

<a href="/terms" class="btn btn-disabled d-block" ><i class="fa fa-file"></i> Ketentuan Penggunaan</a> 

<a href="/privacy" class="btn btn-disabled d-block" ><i class="fa fa-file"></i> Kebijakan Privasi</a> 

<a href="/authors" class="btn btn-disabled d-block" ><i class="fa fa-user"></i> Kontributor</a> 

<a href="/contact" class="btn btn-disabled d-block" ><i class="fa fa-mail"></i> Hubungi Kami</a> 

