<h5 class="mb-3"><span>Dunia</span><span style="color:#ccc">.Wiki</span></h5>

<p> </p>

<a href="/about" class="btn btn-primary d-block mb-2">Tentang</a>

<a href="/terms" class="btn btn-primary d-block mb-2">Ketentuan Penggunaan</a> 

<a href="/privacy" class="btn btn-primary d-block mb-2">Kebijakan Privasi</a> 

<a href="/authors" class="btn btn-primary d-block mb-2">Kontributor</a> 

<a href="/contact" class="btn btn-primary d-block mb-2">Hubungi Kami</a> 

<a href="/sawer" class="btn btn-danger d-block mb-2" target="_blank"><i class="fas fa-hand-holding-heart"></i> Sawer!</a> 
